  {% extends 'base.html' %}
{% load static %}


  {% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Featured Start ***** -->
          <div class="row d-none d-lg-block">
            <div class="col-lg-12">
              <div class="feature-banner header-text">
                <div class="row">
                  <div class="col-lg-6">
                    <img src="{% static 'images/details-02.jpg' %}" alt="" style="border-radius: 23px;">
                  </div>

                  <div class="col-lg-6">
                    <img src="{% static 'images/details-03.jpg' %}" alt="" style="border-radius: 23px;">

                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ***** Featured End ***** -->

          <!-- ***** Details Start ***** -->

          <div class="game-details">
            <div class="row">
              <div class="col-lg-12">
                <br>
                <h4 >
                    <div 	class="d-lg-none d-xl-none d-xl-block" >
                  <img src="{% static 'images/details-02.jpg' %}" alt="" style="border-radius: 23px;">
                    </div>
                  <i style="float:left; padding-left: 5%">{{match.home|title}} <b style="padding-right: 10px">{{match.home_goal}}</b>
                    <p><pre class="pre">{{match.home_goal_scorer}}<br><br></pre></p>
                  </i>


                  <i style="float:right; padding-right: 5%">{{match.away|title}} <b style="padding-left: 10px">{{match.away_goal}}</b>
                    <p><pre class="pre">{{match.away_goal_scorer}}<br><br></pre></p>
                  </i>
                </h4>
              </div>
              <div class="col-lg-12">
                <div class="content">
                  <h3 style="color: white">LIne-ups</h3>
                  <div class="row">


                    <div class="col-lg-6" style="padding-bottom: 15px">

                      <div class="left-info">

                        <div class="left">
                          <h4>{{match.home}}</h4>
                         <pre> <span>{{match.home_lineup | title}}</span></pre>
                        </div>
                        <ul>
                         {% comment %}
                          incase this side is needed remember
                          {% endcomment %}
                        </ul>
                      </div>
                    </div>


                    <div class="col-lg-6" style="padding-bottom: 15px">
                      <div class="right-info">

                        <div class="right">
                          <h4>{{match.away}}</h4>
                         <pre> <span>{{match.away_lineup | title}}</span></pre>

                        </div>
                        <ul>
                         {% comment %}
                          incase this side is needed remember
                          {% endcomment %}
                        </ul>
                      </div>
                    </div>
                    </div>

                  <p style="color: #aaa; padding-left: 5%;">Kick-off time: {{match.date.date}} {{match.date.time}}</p>
                  <p style="color: #aaa; padding-left: 5%">Stadium: Eurosport Stadium</p>
                  <p style="color: #aaa; padding-left: 5%">Season: {{match.season}}</p>
                  <p style="color: #aaa; padding-left: 5%">Competition: {{match.competition}}</p>
                  <p style="color: #aaa; padding-left: 5%">Man of the match: {{match.mom}}</p>
                  <br>


                    <div class="col-lg-12">
                      <p>{{match.foot_note}}</p>
                    </div>
                    <div class="col-lg-12">
                      <div class="main-border-button">
                        <a href="#">Check League Standing</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Details End ***** -->

          <!-- ***** Other Start ***** -->
          <div class="other-games">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Previous</em> Meeting</h4>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="item">
                  <img src="assets/images/game-01.jpg" alt="" class="templatemo-item">
                  {% for each in prev %}

                  {% if each.home_goal > each.away_goal %}
                  <b><span class="text-light">{{each.home}}</span></b><b><span>{{each.away}}</span></b>

                  <ul>
                    <li ><span class="text-light"><i class="fa fa-futbol"></i> {{each.home_goal}}</span></li>
                    <li><span><i class="fa fa-futbol"></i> {{each.away_goal}}</span></li>
                  </ul>

                  {% else %}

                  <b><span >{{each.home}}</span></b><b><span class="text-light">{{each.away}}</span></b>

                  <ul>
                    <li ><span ><i class="fa fa-futbol"></i> {{each.home_goal}}</span></li>
                    <li><span class="text-light"><i class="fa fa-futbol"></i> {{each.away_goal}}</span></li>
                  </ul>

                  {% endif %}
                  {% endfor %}
                </div>
              </div>

            </div>
          </div>
          <!-- ***** Other End ***** -->

        </div>
      </div>
    </div>
  </div>
  {% endblock %}