{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <!-- ***** Banner Start ***** -->
          <div class="main-banner">
            <div class="row">
              <div class="col-lg-7">
                <div class="header-text">
                  <h6>Welcome To Eurosport</h6>
                  <h4><em>Check</em> all latest transfer news Here</h4>
                  <div class="main-button">
                    <a href="browse.html">Transfer News</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->

          <!-- ***** Live Matches Start ***** -->

          {% for match in matches %}
          {% if match.live %}
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Live</em> match</h4>
                </div>

                <div class="row">



                  <div class="col-lg-3 col-sm-6">

                    <a href="{% url 'match_details' match.pk %}"><div class="item">

                      <img src="{% static 'images/popular-01.jpg' %}" alt="">
                      <h4 style="font-size: 110%">{{match.home| capfirst}}<br>{{match.away| capfirst}}</h4>
                      <ul>
                        <li></i> {{match.home_goal}}</li>
                        <li></i> {{match.away_goal}}</li>
                      </ul>
                      <span>{{match.competition}}</span>
                    </div></a>
                  </div>

                  <div class="col-lg-12">
                    <div class="main-button">
                      <a href="browse.html" disabled>Watch Live</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

                  {% endif %}
                  {% endfor %}
          <!-- ***** Live Match End ***** -->


          <!-- ***** Upcoming Matches Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>UPCOMING</em> matches</h4>
                </div>

                <div class="row">

                  {% for match in matches %}
                  {% if not match.played %}
                  <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'match_details' match.pk %}"><div class="item">
                      <img src="{% static 'images/popular-01.jpg' %}" alt="">
                      <h4 style="font-size: 110%">{{match.home| capfirst}}<br>{{match.away| capfirst}}</h4>
                      <ul>
                        <li></i> {{match.date.date}}</li>
                        <li></i> {{match.date.time}}</li>
                      </ul>
                      <span>{{match.competition}}</span>
                    </div></a>
                  </div>
                  {% endif %}
                  {% endfor %}

                   <!--<div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="assets/images/popular-02.jpg" alt="">
                      <h4>PubG<br><span>Battle S</span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> 4.8</li>
                        <li><i class="fa fa-download"></i> 2.3M</li>
                      </ul>
                    </div>
                  </div>-->


                  <div class="col-lg-12">
                    <div class="main-button">
                      <a href="browse.html">See All</a>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <!-- ***** upcoming Matches End ***** -->

          <!-- ***** Recently played Matches Start ***** -->
          <div class="most-popular">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Recently Played</em> matches</h4>
                </div>

                <div class="row">

                  {% for match in matches %}
                  {% if match.played %}
                  <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'match_details' match.pk %}"><div class="item">
                      <img src="{% static 'images/popular-01.jpg' %}" alt="">
                      <h4 style="font-size: 110%">{{match.home| capfirst}}<br>{{match.away| capfirst}}</h4>
                      <ul>
                        <li></i> {{match.home_goal}}</li>
                        <li></i> {{match.away_goal}}</li>
                      </ul>
                      <span>{{match.competition}}</span>
                    </div></a>
                  </div>
                  {% endif %}
                  {% endfor %}

                   <!--<div class="col-lg-3 col-sm-6">
                    <div class="item">
                      <img src="assets/images/popular-02.jpg" alt="">
                      <h4>PubG<br><span>Battle S</span></h4>
                      <ul>
                        <li><i class="fa fa-star"></i> 4.8</li>
                        <li><i class="fa fa-download"></i> 2.3M</li>
                      </ul>
                    </div>
                  </div>-->


                  <div class="col-lg-12">
                    <div class="main-button">
                      <a href="browse.html">See All</a>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
          <!-- ***** Recently Played Matches End ***** -->

          <!-- ***** League Table Start ***** -->
          <div class="gaming-library">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Division 1</em> League Table</h4>
              </div>
              <div class="item">
                <ul>
                  <li><h4></h4></li>
                  <li><h4>Pos</h4></li>
                  <li><h4>Club</h4></li>
                  <li></li>
                  <li><h4>Mp</h4></li>
                  <li><h4>W</h4></li>
                  <li><h4>D</h4></li>
                  <li><h4>L</h4></li>
                  <li><h4>Pts</h4></li>

                </ul>
              </div>
              {% for each in d1 %}
              <div class="item">


                <ul>
                  <li><img src="{% static 'images/game-01.jpg' %}" alt="" class="templatemo-item"></li>
                  <li><span>{{each.pos}}</span></li>
                  <li><span>{{each.club}}</span></li>
                  <li></li>
                  <li><span>{{each.mp}}</span></li>
                  <li><span>{{each.w}}</span></li>
                 <li><span>{{each.d}}</span></li>
                  <li><span>{{each.l}}</span></li>
                  <li><span>{{each.pts}}</span></li>
                </ul>

              </div>
              {% endfor %}

            <div class="col-lg-12">
              <div class="main-button">
                <a href="profile.html">Check Other Divisions Table</a>
              </div>
            </div>
          </div>
          <!-- ***** Gaming Library End ***** -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}