  {% extends 'base.html' %}
{% load static %}


  {% block content %}
          <!-- ***** Featured Games Start ***** -->
  <div class="container">
        <div class="page-content">
          <div class="row" >
            <div class="col-lg-8">
              <div class="featured-games header-text mb-4" >
                <div class="heading-section"  >
                  <h4><em>Eurosport</em> News</h4>
                </div>

              </div>
            </div>

          </div>
          <!-- ***** Featured Games End ***** -->

          <!-- ***** Start Stream Start ***** -->
          <div class="start-stream">
            <div class="col-lg-12">
              <div class="row">
                {% for news in matches %}
                <div class="col-lg-4" id="{{news.pk}}">
                  <div class="item">
                    <div class="">
                      <img src="{{news.image.url}}" alt="" style="max-width: 100%; height: 150px; border-radius: 5%;">
                    </div>
                    <span class="text-secondary">{{news.date}}</span>
                    <h4>{{ news.subject }}</h4>

                    <div class="pre" style="font-size: 90%; white-space: wrap ;"  >{{ news.body| slice:"200" }}...</div>

                    <div class="main-button">
                  <a href="{% url 'news_details' news.pk %}"> Continue Reading</a>
                </div>


                  </div>
                </div>
                {% endfor %}

                <div class="col-lg-12">
                    <div class="main-button">
                      {% include 'pagination.html' %}
                    </div>
                  </div>

            </div>
          </div>

          <!-- ***** Start Stream End ***** -->


  </div>
        </div>
  </div>

  {% endblock %}



